<div class="body">

    <div class="menu">
      <img src="assets/image/cart.png" style="height: 3rem; margin-right: 900px;cursor: pointer;" routerLink="/cart" >
      <button   class="btn-Secondry" routerLink="/home"> Home</button>
      <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
      <button   class="btn-Secondry" routerLink="/login"> Login</button>
      <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
      <button   class="btn-Secondry" routerLink="/home"> logout</button>
      </div>
  <br/>
  <div class="form">
    
    <h2>Contact Us</h2>
    <div>
    
        <div class="form-group">
         
          <img src="assets/image/w.png"style="height: 4rem; " class="img1"> &nbsp;&nbsp;&nbsp; <span>WhatsApp: +968 72052506</span>
        </div>
       
        <div class="form-group">
         
          <img src="assets/image/inst.png"style="height: 3rem;" class="img2"> &nbsp;&nbsp;&nbsp;<span>Instagram: @almaawali.perfumes</span>
        </div>
</div>
  </div>
  <div class="dashboard">
    <h3>CopyRight@ 2023 Almaawali Perfumes</h3>
</div>
</div>

