<div class="body">

    <div class="menu">
      <img src="assets/image/cart.png" style="height: 3rem; margin-right: 900px;cursor: pointer;" routerLink="/cart" >
        <button   class="btn-Secondry" routerLink="/home"> Home</button>
        <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
        <button   class="btn-Secondry" routerLink="/login"> Login</button>
        <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
        <button   class="btn-Secondry" routerLink="/home"> logout</button>
      </div>
  <br/>
  <div class="form">
    
    <h2>About Us</h2>
    <div>
    
        <div class="form-group">
     <p>Al Maawali Perfumes Store.Omani brand</p> <br>
     
      <p> We provide the finest types of perfumes and oud</p><br>
      <p>www.AlmaawaliPerfumes.com</p>
    
        </div>
        <div class="dashboard">
          <h3>CopyRight@ 2023 Almaawali Perfumes</h3>
      </div>
</div>

