<div class="body">

    <div class="menu">
      <button   class="btn-Secondry" routerLink="/home"> Home</button>
        <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
        <button   class="btn-Secondry" routerLink="/login"> Login</button>
        <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
        <button   class="btn-Secondry" routerLink="/home"> logout</button>
      </div>
  <br/>
  <div class="form">
    
   
  
        <h2>Your Shopping Cart</h2>
        <table style="border: 1px solid black; width: 700px;">
            <tr >
              <th>Current Price</th>
              <th>NO.Item</th>
              <th>Price</th>
              <th>Item Name</th>
              <th >Item Image</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td ><button class="btn-primary">Delete</button></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="btn-primary">Delete</button></td>
            </tr>
      
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="btn-primary">Delete</button></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="btn-primary">Delete</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total amount</td>
                <td><button class="btn-primary">Delete All</button></td>
              </tr>
           </table>

  </div>
  <div class="dashboard">
    <h3>CopyRight@ 2023 Almaawali Perfumes</h3>
</div>
</div>
