
<div class="body">

    <div class="menu">
      <img src="assets/image/cart.png" style="height: 3rem; margin-right: 900px;cursor: pointer;"routerLink="/cart" >
      <button   class="btn-Secondry" routerLink="/home"> Home</button>
        <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
        <button   class="btn-Secondry" routerLink="/login"> Login</button>
        <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
        <button   class="btn-Secondry" routerLink="/home"> logout</button>
    <br><br>  
   
          <div>
          
             
           
              <div class="column" >
                <div class="form-group">
                    <img src="assets/image/h.jpg"style="height: 12rem; "><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/bestSeller">Buy Now</button>
                    
                </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <img src="assets/image/b.jpg"style="height: 12rem;"><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/newlyAdd">Buy Now</button>
                   
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
      
                <div class="form-group">
                    <img src="assets/image/c.jpg"style="height: 12rem;"><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/specialOffer" >Buy Now</button>
                   
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
      
                <div class="form-group">
                    <img src="assets/image/d.jpg"style="height: 12rem;"><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/mostView" >Buy Now</button>
                   
                </div>
              </div>
              
              <div class="column">
                <div class="form-group">
                    <img src="assets/image/e.jpg"style="height: 12rem; "><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/bestSeller">Buy Now</button>
                    
                </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <img src="assets/image/f.jpg"style="height: 12rem;"><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                    
                      <button class="btn-primary" routerLink="/newlyAdd">Buy Now</button>
                   
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
      
                <div class="form-group">
                    <img src="assets/image/g.jpg"style="height: 12rem;"><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/specialOffer" >Buy Now</button>
                   
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
      
                <div class="form-group">
                    <img src="assets/image/j.jpg"style="height: 12rem;"><span style="margin-right: 50px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/mostView" >Buy Now</button>
                   
                </div>
               
              </div>
          
              </div>
              <div class="dashboard">
                <h3>CopyRight@ 2023 Almaawali Perfumes</h3>
            </div>
    </div>

    </div>
              



