<div class="body">

    <div class="menu">
      <img src="assets/image/cart.png" style="height: 3rem; margin-right: 900px;cursor: pointer;"routerLink="/cart" >
      <button   class="btn-Secondry" routerLink="/home"> Home</button>
      <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
      <button   class="btn-Secondry" routerLink="/login"> Login</button>
      <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
      <button   class="btn-Secondry" routerLink="/home"> logout</button>
      </div>
  <br/>
  <div class="form">
    
    <h2>Shipping & Delivery</h2><br>
    <div>
    
        <div class="form-group">
         <p>Our Location : Sultanate of Oman</p>
         <p>Delivery is available throughout<br>
           the Sultanate & the Gulf countries.</p><br><br>
         <button class="btn-primary" >Contact Us</button>
        </div>
    </div>
  </div>
  <div class="dashboard">
    <h3>CopyRight@ 2023 Almaawali Perfumes</h3>
</div>
</div>

