
<div class="body">

    <div class="menu">
      <img src="assets/image/cart.png" style="height: 3rem; margin-right: 900px;cursor: pointer;" routerLink="/cart" >
      <button   class="btn-Secondry" routerLink="/home"> Home</button>
        <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
        <button   class="btn-Secondry" routerLink="/login"> Login</button>
        <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
        <button   class="btn-Secondry" routerLink="/home"> logout</button>
 

       
    <br><br>  
    <marquee behavior="scroll" direction="left">     <h2> Welcome To Al Maawali Perfumes Store</h2></marquee>
          <div>
          
        
             
              <div class="column" >
                <div class="form-group">
                    <img src="assets/image/o.jpg"style="height: 15rem; "><br>
                      <button class="btn-primary" routerLink="/bestSeller">Best Sellers</button>
                    
                </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <img src="assets/image/t.jpg"style="height: 15rem;"><br>
                      <button class="btn-primary" routerLink="/newlyAdd">Newly Added</button>
                   
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
      
                <div class="form-group">
                    <img src="assets/image/p.jpg"style="height: 15rem;"><br>
                      <button class="btn-primary" routerLink="/specialOffer" >Special Offers</button>
                   
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
      
                <div class="form-group">
                    <img src="assets/image/a.jpg"style="height: 15rem;"><br>
                      <button class="btn-primary" routerLink="/mostView" >Most Viewed</button>
                   
                </div>
              </div>
          </div>
          <div class="dashboard">
            <h3>CopyRight@ 2023 Almaawali Perfumes</h3>
        </div>
              </div>
              

