
<div class="body">

      <div class="menu">
        <img src="assets/image/cart.png" style="height: 3rem; margin-right: 900px;cursor: pointer; " routerLink="/cart" >
        <button   class="btn-Secondry" routerLink="/home"> Home</button>
        <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
        <button   class="btn-Secondry" routerLink="/login"> Login</button>
        <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
        <button   class="btn-Secondry" routerLink="/home"> logout</button>
          </div>
      <br/>
     
      
          <div class="form-group">
            <h2>Shop the Finest Perfumes</h2>
            
                   <button class="btn-primary" routerLink="/dashboard" >Shop Now</button>


                  <div class="menu2">
                    <a routerLink="/contact">Contact Us</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/mail">Mailing List</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/shipping">Shipping & Delivery</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/about">About Us</a> &nbsp;
                  </div>
                 
          </div>
          
     <div class="dashboard">
      
          <marquee behavior="scroll" direction="left">
            <img src="assets/image/1.jpg" style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/2.jpg"style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/3.jpg" style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/4.jpg"style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/5.jpg" style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/6.jpg"style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/3.jpg" style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/4.jpg"style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/5.jpg" style="height: 8rem; margin-right: 12px;">
            <img src="assets/image/6.jpg"style="height: 8rem; margin-right: 12px;">
        </marquee>
      
      </div>

</div>

