
<div class="body">

    <div class="menu">
      <img src="assets/image/cart.png" style="height: 3rem; margin-right: 900px;cursor: pointer;" routerLink="/cart" >
      <button   class="btn-Secondry" routerLink="/home"> Home</button>
      <button   class="btn-Secondry" routerLink="/dashboard"> Dashboard</button>
      <button   class="btn-Secondry" routerLink="/login"> Login</button>
      <button   class="btn-Secondry" routerLink="/signUp"> SignUP</button>
      <button   class="btn-Secondry" routerLink="/home"> logout</button>
    <br><br>  
   
          <div>
          
             
           
              <div class="column" >
                <div class="form-group">
                    <img src="assets/image/11.jpg"style="height: 15rem; "><span style="margin-right: 90px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/bestSeller">Buy Now</button>
                    
                </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <img src="assets/image/22.jpg"style="height: 15rem;"><span style="margin-right: 90px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/newlyAdd">Buy Now</button>
                   
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <img src="assets/image/33.jpg"style="height: 15rem;"><span style="margin-right: 90px; color: white;">Price: 8 OMR</span>
                      <button class="btn-primary" routerLink="/newlyAdd">Buy Now</button>
                   
                </div>
              </div>
              
               
              </div>
   


    <div class="dashboard">
      <h3>CopyRight@ 2023 Almaawali Perfumes</h3>
  </div>
              </div>
              


